<%= form_for @participant do |f| %>
    <p><%= f.text_field :name, placeholder: "#{@keywords[:name]} the Participant's Name" %></p>
    <p><%= f.text_field :points, placeholder: "#{@keywords[:points][0]} the Participant's #{@keywords[:points][1]} Points" %></p>
    <p><%= f.submit "#{@keywords[:submit]} Participant" %></p>
    
<% end %>

<%= if @participant.errors.any? %>
    <%= @participant.errors.full_message.each do |m| %>
    
    <% end %>
<% end %>