<!DOCTYPE html>
<html>
  <head>
    <title>CnEgo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/message' %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>

  </body>
</html>
